@media (min-width: 994px) {
    .three{
        border-left: 1px Solid rgb(59, 43, 153);
    }
}

.btn2{
    display: flex;
    justify-content: center;
}

.btn1{
    font-size:28px;
    padding-left: 45%;
    padding-right: 45%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn3{
    font-size:22px;
    padding-left: 45%;
    padding-right: 45%;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.two p{
    text-align: center;
    margin-top: 20px;
    font-size:32px;
}

p{
    text-align: center;
}

.stand{
    font-size:24px;
}

.btnbuy{
    display: flex;
    justify-content: center;
}

.footer{
    display: none;
}