@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Rubik Mono One', sans-serif;*/

body{
    padding: 0;
    margin: 0;
}

header{
    padding-top: 200px;
    padding-bottom: 50px;
}

h1{
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 48px;
    color: #212121;
    font-weight: normal;
    letter-spacing: -1px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.violet{
    color: #6A1b9A;
    padding: 0px;
    margin: 0px;
}

.menu-btn{
    border: none;
    background-color: white;
    padding: 0px;
    transition: all 1s;
}

.search{
    display: flex;
    align-items: center;
    gap: 0px;
}

.search-input{
    background-color: white;
    border: #8E24AA Solid 4px;
    border-right: 2px Solid #8E24AA;
    margin: 0px;
    height: 30px;
    width: 300px;
}

.search-btn{
    background-color: #8E24AA;
    border: #8E24AA Solid 4px;
    border-left: 2px Solid #6e1b85;
    margin: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    width: 40px;
    transition: all 0.1s;
}

.search-btn:hover{
    border: 10px #711c88 Solid;
}

.search-btn:active{
    border: 0px #d53cff Solid;
}

.super-text{
    background-color: #fffcdd;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-text{
    padding: 0 30% 0 30%;
}

h2{
    color:#131212;
    font-size: 28px;
    font-family: 'Ruslan Display';
}

.anime{
    padding: 3% 20% 0 20%;
}

.anime-container{
    display: flex;
    /*flex-wrap: wrap;  Для мобилок включить!*/
    background-color: white;
    border: Solid #7b0c91 3px;
    border-radius: 7px;
    padding: 5px;
    gap: 10px;
}

h3{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
    color: #212121;
    font-weight: normal;
}

.anime p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #212121;
}

.btn-view{
    border: 0;
    border-radius: 13px;
    padding: 10px 70px 10px 10px;
    background: -webkit-linear-gradient(90deg, #b3e5fc,#6a1b9a);
    background: linear-gradient(90deg, #b3e5fc,#6a1b9a);
    transition: all 0.1s;
}

.btn-view a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 22px;
}

.btn-view:hover{
    border:#6A1b9A Solid 2px;
}

.margins{
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-rols{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.role{
    background-color: white;
    border: 5px Solid #010101;
    padding-bottom: 10px;
    transition: all 2s;
}

.role h3{
    background-color: #010101;
    padding: 5px;
    margin: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color:white;
    font-size: 20px;
    text-align: center;
}

.role p{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #010101;
    font-size: 18px;
    text-align: center;
}

.role a{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: #212121;
    padding: 5px;
}

footer{
    margin-top: 50px;
    background-color: #212121;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.btn-view:hover{
    border: Solid 3px rgb(244, 250, 255);
}

header a{
    text-decoration: none;
}

.role:hover{
    transform: translateY(-10px);
}

.menu-btn:hover{
    transform: rotate(720deg);
}

.menu-btn:active{
    transform: translateY(-400px);
}

.flex-c1{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
    .anime{
        padding: 3% 1% 0 1%;
    }
    .anime img{
        width: 99%;
    }
    .anime-container{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .anime h3{
        text-align: center;
    }
    h1{
        font-size: 38px;
    }
    .search-input{
        width: 200px;
    }
    .text-flex-snova{
        text-align: center;
    }
    .flex-text{
        padding: 0 10% 0 10%;
        text-align: center;
    }
    footer p{
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .anime{
        padding: 3% 0% 0 0%;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .anime{
        padding: 3% 10% 0 10%;
    }
}